@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&family=Updock&display=swap');
*
{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    min-height: 100vh;
    margin: 20px 0 0 220px;
    /*margin: 20px 0 0 100px;*/
    padding: 0;
    line-height: 1.5;
    color: #232946;
    font-size: 16px;
    background-image: linear-gradient(to right top, #d0e7ff, #dce9ff, #e6ebff, #f0edff, #f7f0ff, #f7f0ff, #f7f0ff, #f7f0ff, #f0edff, #e6ebff, #dce9ff, #d0e7ff);
    /*background-color: #232946;*/
}
.navigation{
    position: fixed;
    /*top: 20px;*/
    top: 85px;
    left: 20px;
    bottom: 20px;
    width: 70px;
    border-radius: 10px;
    box-sizing: initial;
    /*box-shadow: x y blur spread colour*/
    box-shadow: -3px -2px 4px #c4aed9 ;
    border-left: 5px solid #232946;
    background: #232946;/*#4d5bf9*/
    transition: 0.5s;
    overflow-x: hidden;
}
.navigation.active{
    width: 235px;
}
.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;
}
.navigation ul li{
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.navigation ul li.active{
    background: #eebbc3; /*fff*/
}
/*start for curve stuff*/
.navigation ul li b:nth-child(1){
    position: absolute;
    top: -20px;
    height: 20px;
    width: 100%;
    background: #eebbc3; /*fff*/
    display: none;
}
.navigation ul li b:nth-child(1)::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 20px;
    background: #232946;
}
.navigation ul li b:nth-child(2){
    position: absolute;
    bottom: -20px;
    height: 20px;
    width: 100%;
    background: #eebbc3; /*ff*/
    display: none;
}
.navigation ul li b:nth-child(2)::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top-right-radius: 20px;
    background: #232946;
}
.navigation ul li.active b:nth-child(1), .navigation ul li.active b:nth-child(2){
    display: block;
}
/*end for curve stuff*/
.navigation ul li a{
    position: relative;
    /*display: block;*/
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff; /*#fff*/
}
.navigation ul li.active a{
    color: #333;
}
.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}
.navigation ul li a .icon ion-icon{
    font-size: 1.5em;
}
.navigation ul li a .title{
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: normal;
}
.toggle{
    position: fixed;
    top: 20px;
    left: 35px;
    width: 50px;
    height: 50px;
    background: #232946;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.toggle.active{
    background: #ff4d89; /*#ff4d89*/
}
.toggle ion-icon{
    position: absolute;
    color: #fff;
    font-size: 34px;
    display: none;
}
.toggle ion-icon.open, .toggle.active ion-icon.close
{
    display: block;
}
.toggle ion-icon.close, .toggle.active ion-icon.open{
    display: none;
}
.section{
    min-height: 100vh;
    display: block;
    /*position: fixed;
    left: 250px;*/
    padding: 0 30px; /**/
    background: #f2f2fc;
}
.main-content{
    padding-left: 70px;
}
.padd-15{
    padding-left: 15px;
    padding-right: 15px;
}
.padd-15-1{
    padding-left: 0;
    padding-right: 15px;
}
.container{
    max-width: 1100px;
    width: 100%;
}
.container1{
    max-width: 1100px;
    width: 100%;
}
.flex-container{
    margin-top: 40px;
    padding-left: 40px;
    display: flex;
    flex-wrap: wrap;
}
.flex-item-left{
    flex: 50%;
}
.flex-item-right{
    flex: 50%;
}
/*.section .container{
    padding-top: 20px;
    padding-bottom: 20px;
}*/
.section-title{
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-top: 40px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}
.btn{
    font-size: 16px;
    font-weight: 500;
    margin-top: 15px;
    padding: 1rem;
    display: inline-block;
    background-color: #232946; /*#4d5bf9*/
    color: #fff;
    border-radius: .5rem;
}
.button{
    font-size: 16px;
    font-weight: 500;
    padding: 1rem;
    display: inline-block;
    background-color: #eebbc3;
    color: #3a0011;
    border-radius: .5rem;
}
.btn:hover{
    background-color: #ff4d89; /*#ff4d89 #eebbc3*/
    color: #3a0011;
}
.button:hover{
    background-color: #b8c1ec;
}
.home-section .container {
    padding-bottom: 40px;
}
.home{
    min-height: 100vh;
    display: flex;
    color: #302e4d;
}
.home .home-info{
    margin-top: 40px;
    flex: 0 0 60%;
    max-width: 60%;
    display: inline-flex;
}
h1.hi{
    color: #232946;
    font-size: 40px;
    margin-top: 115px;
}
.current-profession{
    color: #232946;
    margin-top: 50px;
    font-size: 1.125rem;
}
.p1{
    display: inline-flex;
}
.home-info p{
    margin-top: 18px;
    margin-bottom: 70px;
    color: #232946;
    font-size: 0.938rem;
    display: inline-flex;

}
.home .home-img{
    /*flex: 0 0 40%;*/
    max-width: 40%;
    position: relative;
    display: inline-flex;
}
.home .home-img img{
    margin: auto;
    height: 400px;
    display: inline-flex;
}
.about-section .container{
    padding-bottom: 40px;
}
.about-section h2{
    text-align: center;
    color: #232946;
}
.about-section p{
    margin-top: 25px;
    font-size: 16px;
}
.bout-section .personal-info{
    /*max-width: 50%;*/
    justify-content: center;
    max-width: 100%;
    margin-top: 40px;
    text-align: center;

}
/*.about-section .row .education{
    max-width: 50%;
    margin-top: 40px;
}*/
.about-section .personal-info .info-item{
    flex: 0 0 60%;
    max-width: 50%;
}
.about-section .personal-info .info-item p{
    font-weight: 600;
    /*padding: 10px 0;*/
    padding: 10px 0 0 0;
    font-size: 16px;
    border-bottom: 1px solid #c4aed9; /*#e8dfec #4d5bf9 #ff4d89 #c4aed9*/
}
.about-section .personal-info .info-item p span{
    font-weight: 400;
    color: #504e70;
    margin-left: 5px;
    display: inline-block;
}
/*.about-section .row .languages .row .language-item {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 30px;
}
.about-section .row .languages .row .language-item h4{
    line-height: 40px;
    font-weight: 600;
    font-size: 16px;
    color: #4d5bf9;
    text-transform: capitalize;
}
.about-section .row .languages .row .language-item .progress{
    background-color: lavender;
    height: 7px;
    border-radius: 4px;
    width: 100%;
    position: relative;
}
.about-section .languages .language-item .progress .progress-in{
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 4px;
    background-color: red;
}*/
/*.about-section .row .timeline-box{
    max-width: 50%;
}
.about-section .row .timeline{
    background-color: #fdf9ff;
    padding: 30px 15px;
    border: 1px solid #ebdfec;
    border-radius: 10px;
    position: relative;
}*/
/*.about-section .row .education .calendar-icon{
    position: relative;
    display: inline-block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
}
.about-section .row .education .calendar-icon ion-icon{
    font-size: 1.5em;
}*/
/*.about-section .row .education .year-title{
    position: relative;
    display: inline-block;
    padding-left: 3px;
    height: 60px;
    line-height: 60px;
    white-space: normal;
}
.about-section .row .education .row .timeline-box .timeline .timeline-item .bullet p{
    font-size: 12px;
}*/
.skills-section .container{
    padding-bottom: 40px;
}
.skills-section .skills-item{
    margin-bottom: 30px;
    flex: 0 0 33.33%;
    max-width: 33.33%;
}
/*#d8bfd8 #c4aed9 #e8dfec #e6e6fa*/
/*box-shadow: x y blur spread colour*/
.skills-section .skills-item .skills-item-inner{
    border: 2px solid #e6e6fa;
    border-radius: 10px;
    text-align: center;
    transition: all 0.3s ease;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 18px;
    /*padding: 30px 18px;*/
}
.skills-section .skills-item .skills-item-inner:hover{
    box-shadow: -4px 4px 3px #c4aed9 , 4px -4px 3px #ecffff;
}
.skills-section .skills-item .skills-item-inner .skills-icon img{
    text-align: center;
    height: 60px;
    width: 60px;
    display: block;
    margin: 0 auto 30px;
}
/*.skills-section .skills-item .skills-item-inner h4{
    color: #bc8f8f;
}*/
.contact-section .container1{
    padding-bottom: 40px;
}
.contact-title{
    margin-top: 40px;
}
/*flex-direction: row row-reverse initial inherit column column reverse revert unset*/
.contact-section .container{
    background-color: #232946;
    width: 100%;
    padding: 2.5rem 1.25rem 2.5rem 1.25rem;
    margin: 5rem auto 5rem auto;
    display: flex;
    flex-direction: column;
    border-radius: 48px;
}
.contact-section .container .contact-info .contact-item{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin: 1rem 0 3rem 0;
    letter-spacing: .1em;
}
.contact-item-text, .contact-item-details{
    color: #b8c1ec;
    /*color: #eebbc3;*/
}
.contact-input{
    font-size: 1rem;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    padding: 0.75rem 1rem 0.75rem 1rem;
    border: 2px solid #e6e6fa;
    border-radius: 24px;
    background-color: #232946;
    transition: all 0.3s ease;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}
/*box-shadow: -4px 4px 3px #c4aed9*/ /*, 4px -4px 3px #ecffff;*/
.contact-input:hover{
    box-shadow: -3px 3px 2px #c4aed9 , 3px -3px 2px #ecffff;
}
#form-contact-status{
    width: 100%;
    text-align: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    padding: 0.5rem;
    /*display: inline-block;*/
    color: #3a0011;
    border-radius: .5rem;
    display: flex;
    /*flex-direction: column;*/
    align-self: flex-start;
}

/* Extra small devices (phones, 600px and down) */ /*133.6px*/
@media only screen and (max-width: 600px) {
    body {
        /*margin: 20px 0 0 80px;*/
        margin: 20px 0 0 60px;
    }
    .navigation {
        width: 60px;
        top: 40px;
        bottom: 40px;
    }
    .navigation.active {
        width: 78px;
    }
    .navigation ul{
        padding-left: 0;
    }
    .navigation ul li b:nth-child(1){
        /*height: 20px;*/
        height: 22px;
    }
    .navigation ul li b:nth-child(1)::before{
        border-bottom-right-radius: 10px;
    }
    .navigation ul li b:nth-child(2){
        /*height: 20px;*/
        height: 22px;
    }
    .navigation ul li b:nth-child(2)::before{
        /*border-top-right-radius: 20px;*/
        border-top-right-radius: 10px;
    }
    .navigation ul li a .title{
        position: relative;
        display: none;
        visibility: hidden;
        padding-left: 10px;
        height: 60px;
        line-height: 60px;
        white-space: normal;
    }
    .toggle{
        position: fixed;
        top: 20px;
        left: 20px;
        width: 60px;
        height: 50px;
        background: #232946;
        border-radius: 10px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
    }
    h1.hi{
        font-size: 38px;
    }
    .current-profession{
        font-size: 1rem;
    }

    .about-section .personal-info .info-item p span{
        font-weight: 300;
    }

}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px){

}




/*
Extra small (xs) devices (portrait phones, less than 576px)

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) {

}

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) {

}

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}*/